#!/usr/bin/env ruby

compile '/*.md' do
  if item.identifier =~ '/index.*'
    layout '/blog.*'
    write item.identifier.without_ext + '.html'
  else
    layout '/default.*'
    write item.identifier.without_ext + '/index.html'
  end
end

compile '/posts/*.md' do
  layout '/post.*'
  write item.identifier.without_ext + '/index.html'
end

compile '/assets/*' do
  write item.identifier.to_s
end

layout '/*', :haml
