#!/usr/bin/env ruby

compile '/*.md' do
  filter :kramdown
  if item.identifier == '/blog.md'
    layout '/blog.*'
    write item.identifier.without_ext + '/index.html'
  elsif item.identifier == '/index.md'
    layout '/default.*'
    write item.identifier.without_ext + '.html'
  else
    layout '/default.*'
    write item.identifier.without_ext + '/index.html'
  end
end

compile '/posts/*.md' do
  filter :kramdown
  layout '/post.*'
  write item.identifier.without_ext + '/index.html'
end

compile '/assets/img/*' do
  write item.identifier.to_s
end

compile '/assets/css/*' do
  write item.identifier.to_s
end

layout '/*', :haml
